@import url(twice.css);
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&family=Merriweather+Sans:wght@300&family=Mochiy+Pop+P+One&display=swap');
@import url(footer.css);
@import url(navigation.css);








.main .first-section{
 height: 70vh;
 width: 100%;
 position: relative; 
 background-image: url(../gallery/artists/adele-background.jpg);
 background-color: #00000046;
 background-blend-mode: multiply;
 background-position: center;
 background-repeat: no-repeat;
 background-size:contain;
 background-attachment: fixed;
 
 display: grid;
 
}



.main .first-section .title h1{
 margin: 0;
 font-size: 70px;
 margin-top: 70px;
}







.main .second-section{
 height: auto;
 width: 100%;
 background: linear-gradient(to bottom, rgb(53, 17, 17), rgb(43, 14, 14) ,#0e1013,#0e1013,#0e1013,#0e1013,#0e1013,#0e1013,#0e1013,#0e1013);
 display: grid;
 grid-template-rows: 130px 1fr;
}


